<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.yingdingtong.mapper.MovieMapper">

    <resultMap id="BaseResultMap" type="com.lyh.yingdingtong.model.entity.Movie">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="movieTitle" column="movieTitle" jdbcType="VARCHAR"/>
            <result property="movieType" column="movieType" jdbcType="VARCHAR"/>
            <result property="movieDuration" column="movieDuration" jdbcType="INTEGER"/>
            <result property="moviePicture" column="moviePicture" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="editTime" column="editTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,movieTitle,movieType,
        movieDuration,moviePicture,userId,
        editTime,createTime,updateTime,
        isDelete
    </sql>
</mapper>
